@import "../../styles/fonts";

.quote {
    margin-bottom: 75px;
    .limit {
        max-width: 970px;
        margin: 0 auto;
        padding: 0 10px;
        .quoteBox {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 780px;
            margin: 0 auto;
            .quotePortrait {
                max-width: 200px;
                img {
                    width: 100%;
                }
            }
            .quoteText {
                max-width: 515px;
                .quote {
                    color: #000000;
                    font-family: $PTSans;
                    font-size: 25px;
                    font-style: italic;
                    line-height: 30px;
                    margin-bottom: 40px;
                }
                .author {
                    color: #787a7c;
                    font-family: $PTSans;
                    font-size: 15px;
                    font-weight: 700;
                    margin-bottom: 10px;
                }
                .year {
                    color: #787a7c;
                    font-family: $PTSans;
                    font-size: 15px;
                    font-weight: 700;
                }
            }
        }
        .quoteReload {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 400px;
            margin: 0 auto;
            .decorQR {
                display: flex;
                align-items: center;
                .line {
                    width: 107px;
                    height: 1px;
                    background-color: #bb9c66;
                    margin: 0 2.5px;
                }
                .circle {
                    width: 11px;
                    height: 11px;
                    border: 1px solid #bb9c66;
                    border-radius: 50%;
                    margin: 0 2.5px;
                }
            }
            .reloadBTN {
                width: 50px;
                height: 50px;
                border: 1px solid #bb9c66;
                border-radius: 50%;
                cursor: pointer;
                img {
                    border-radius: 50%;
                    width: 100%;
                }
            }
        }
    }
}