.mainPage {
    .purchase {
        padding: 85px 0 77px;
    }
    .services {
        padding: 66px 0 102px;
        background-color: #1c242a;
    }
    .secondaryInfo {
        padding: 65px 0 75px;
    }
}